<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [300]:
# Импорт актуальных библиотек
import pandas as pd
import psycopg2
import requests 
from bs4 import BeautifulSoup

In [301]:
# параметры подключения из юнита 1. Работа с базой данных из Python 
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [302]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [303]:
# текст запроса
query_3_1 = f'''
select count(*)
from public.vacancies
'''

In [304]:
# результат запроса
df_3_1=pd.read_sql_query(query_3_1, connection)
df_3_1.iloc[0][0]

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\2361887218.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3_1=pd.read_sql_query(query_3_1, connection)

49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [305]:
# текст запроса
query_3_2 = f'''
select count(*)
from public.employers
'''

In [306]:
# результат запроса
df_3_2=pd.read_sql_query(query_3_2, connection)
df_3_2.iloc[0][0]

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\1414179920.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3_2=pd.read_sql_query(query_3_2, connection)

23501

3. Посчитайте с помощью запроса количество регионов (таблица areas).

In [307]:
# текст запроса
query_3_3 = f'''
select count(*)
from public.areas
'''

In [308]:
# результат запроса
df_3_3=pd.read_sql_query(query_3_3, connection)
df_3_3.iloc[0][0]

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\1720456341.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3_3=pd.read_sql_query(query_3_3, connection)

1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [309]:
# текст запроса
query_3_4 = f'''
select count(*)
from public.industries
'''

In [310]:
# результат запроса
df_3_4=pd.read_sql_query(query_3_4, connection)
df_3_4.iloc[0][0]

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\2974228538.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_3_4=pd.read_sql_query(query_3_4, connection)

294

***

In [370]:
# выводы по предварительному анализу данных
amt_vacancies = int(df_3_1.iloc[0][0])
amt_employers = int(df_3_2.iloc[0][0])
amt_areas = int(df_3_3.iloc[0][0])
amt_industries = int(df_3_4.iloc[0][0])


print('Итого в базе данных:\n вакансий {0};\n работодателей {1};\n регионов {2};\n сфер деятельности {3}.'
      .format(amt_vacancies, amt_employers, amt_areas , amt_industries))

Итого в базе данных:
 вакансий 49197;
 работодателей 23501;
 регионов 1362;
 сфер деятельности 294.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [312]:
# текст запроса
query_4_1 = f'''
SELECT  areas.name, COUNT (vacancies.area_id)
FROM public.vacancies
JOIN public.areas ON vacancies.area_id = areas.id 
GROUP BY areas.name
ORDER BY count (vacancies.area_id) DESC
'''

In [313]:
# результат запроса
df_4_1 = pd.read_sql_query(query_4_1, connection).head()
display (df_4_1)

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\344937328.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_4_1 = pd.read_sql_query(query_4_1, connection).head()

              name  count
0           Москва   5333
1  Санкт-Петербург   2851
2            Минск   2112
3      Новосибирск   2006
4           Алматы   1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [314]:
# текст запроса
query_4_2 = f'''
SELECT  COUNT (id)
FROM public.vacancies
WHERE salary_from IS NOT null OR salary_to IS NOT null
'''

In [315]:
# результат запроса
df_4_2 = pd.read_sql_query(query_4_2, connection)
display (df_4_2)

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\1160464938.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_4_2 = pd.read_sql_query(query_4_2, connection)

   count
0  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [316]:
# текст запроса
query_4_3 = f'''
SELECT ROUND(AVG(salary_from)) "Среднее значение", 'нижняя граница' "Зарплатная вилка"
FROM public.vacancies
UNION 
SELECT ROUND(AVG(salary_to)), 'верхняя граница'
FROM public.vacancies
'''

In [317]:
# результат запроса
display (pd.read_sql_query(query_4_3, connection))

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\518730392.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display (pd.read_sql_query(query_4_3, connection))

   Среднее значение Зарплатная вилка
0           71065.0   нижняя граница
1          110537.0  верхняя граница

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [318]:
# текст запроса
query_4_4 = f'''
SELECT schedule,  employment, COUNT(id)
FROM public.vacancies
GROUP BY schedule,  employment
ORDER BY count(id) DESC
'''

In [319]:
# результат запроса
display(pd.read_sql_query(query_4_4, connection).head())

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\2078159292.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql_query(query_4_4, connection).head())

           schedule           employment  count
0       Полный день     Полная занятость  35367
1  Удаленная работа     Полная занятость   7802
2     Гибкий график     Полная занятость   1593
3  Удаленная работа  Частичная занятость   1312
4    Сменный график     Полная занятость    940

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [320]:
# текст запроса
query_4_5 = f'''
SELECT experience, COUNT (id)
FROM public.vacancies
GROUP BY experience
ORDER BY 2
'''

In [321]:
# результат запроса
display (pd.read_sql_query(query_4_5, connection))

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\333056898.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display (pd.read_sql_query(query_4_5, connection))

           experience  count
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

***

In [322]:
# выводы по детальному анализу вакансий
first_city = df_4_1.iloc[0][0]
second_city = df_4_1.iloc[1][0]
mockow_vacances = df_4_1.iloc[0][1]
s_piter_vacances = df_4_1.iloc[1][1]
amt_salary = df_4_2.iloc[0][0]

answer = 'Только в {0}% вакансий заявлена ЗП;\nНаибольшее кол-во вакансий в {1} - {3}%,\n следующим идет {2} - {4}%.' \
    .format(round(amt_salary/amt_vacancies*100, 1), first_city, second_city, round(mockow_vacances/amt_vacancies*100, 1), round(s_piter_vacances/amt_vacancies*100, 1))
print(answer)

Только в 48.9% вакансий заявлена ЗП;
Наибольшее кол-во вакансий в Москва - 10.8%,
 следующим идет Санкт-Петербург - 5.8%.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [323]:
# текст запроса
query_5_1 = f'''
SELECT employers.name, COUNT(vacancies.id)
FROM public.vacancies
JOIN public.employers ON vacancies.employer_id = employers.id 
GROUP BY employers.name
ORDER BY 2 desc
'''

In [324]:
# результат запроса
df_5_1 = pd.read_sql_query(query_5_1, connection)
display (df_5_1.head())

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\4220634216.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_5_1 = pd.read_sql_query(query_5_1, connection)

            name  count
0         Яндекс   1933
1     Ростелеком    491
2       Тинькофф    444
3           СБЕР    428
4  Газпром нефть    331

In [325]:
df_5_1.iloc[0][1]

1933

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [326]:
# текст запроса для каждого региона выведет количество работодателей и вакансий в нём.
query_5_2 = f'''
SELECT areas.name "Регион", COUNT (DISTINCT employers.id) "Количество работодателей", COUNT (DISTINCT vacancies.id) "Количество вакансий"
from public.areas
LEFT JOIN public.employers ON areas.id = employers.area 
LEFT JOIN public.vacancies ON vacancies.area_id = areas.id
GROUP BY areas.id
ORDER BY "Количество вакансий" desc, "Количество работодателей" desc
'''

In [327]:
# результат запроса
df_5_2=pd.read_sql_query(query_5_2, connection) # вычесление запроса составляет около 100 секунд!
 
df_5_2_no_vacanc = df_5_2[(df_5_2['Количество работодателей'] != 0) & (df_5_2['Количество вакансий'] == 0)] # фильструю датафрейм по наличию работодателей и отсутствию ваканси.
df_5_2_no_vacanc[df_5_2_no_vacanc['Количество работодателей'] == df_5_2_no_vacanc['Количество работодателей'].max()] # вывожу строку с максимальным колличество работодателей.

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\3339152682.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_5_2=pd.read_sql_query(query_5_2, connection) # вычесление запроса составляет около 100 секунд!

     Регион  Количество работодателей  Количество вакансий
769  Россия                       410                    0

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [328]:
# текст запроса
query_5_3 =f''' 
SELECT employers.name "Работодатель", COUNT(DISTINCT vacancies.area_id) "Колличество регионов"
FROM public.employers
LEFT JOIN public.vacancies ON employers.id = vacancies.employer_id 
GROUP BY employers.id
ORDER BY COUNT(DISTINCT vacancies.area_id) desc
'''

In [329]:
# результат запроса
display ((pd.read_sql_query(query_5_3, connection).head(1)))

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\2670553877.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display ((pd.read_sql_query(query_5_3, connection).head(1)))

  Работодатель  Колличество регионов
0       Яндекс                   181

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [330]:
# текст запроса
query_5_4 = f''' 
SELECT   COUNT(*)
FROM public.employers
LEFT JOIN public.EMPLOYERS_INDUSTRIES ON employers.id = EMPLOYERS_INDUSTRIES.employer_id 
WHERE EMPLOYERS_INDUSTRIES.industry_id is NULL
'''

In [331]:
# результат запроса
display ((pd.read_sql_query(query_5_4, connection)).iloc[0][0])

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\701679597.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display ((pd.read_sql_query(query_5_4, connection)).iloc[0][0])

8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [332]:
# текст запроса
query_5_5 = f''' 
SELECT   employers.name
FROM public.employers
LEFT JOIN public.EMPLOYERS_INDUSTRIES ON employers.id = EMPLOYERS_INDUSTRIES.employer_id 
--WHERE EMPLOYERS_INDUSTRIES.industry_id is NULL
GROUP BY employers.id
HAVING count(EMPLOYERS_INDUSTRIES.industry_id) = 4
ORDER BY employers.name
OFFSET 2 LIMIT 1
'''

In [333]:
# результат запроса
display ((pd.read_sql_query(query_5_5, connection)).iloc[0][0])

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\3035450525.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display ((pd.read_sql_query(query_5_5, connection)).iloc[0][0])

'2ГИС'

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [334]:
# текст запроса
query_5_6 = f''' 
SELECT   COUNT(*)
FROM public.employers_industries 
JOIN public.industries ON industries.id = employers_industries.industry_id 
WHERE industries.name = 'Разработка программного обеспечения'
'''

In [335]:
# результат запроса
display ((pd.read_sql_query(query_5_6, connection)).iloc[0][0])

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\4090216968.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display ((pd.read_sql_query(query_5_6, connection)).iloc[0][0])

3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [336]:
# код для получения списка городов-милионников
url = 'https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8' # Определяем адрес страницы
response = requests.get(url) # Выполняем GET-запрос, содержимое ответа присваивается переменной response
page = BeautifulSoup(response.text, 'html.parser') # Создаём объект BeautifulSoup, указывая html-парсер

table_standard_list = page.find("table", class_="standard").find_all('a')

city_list=[]
for elem_table_standard in table_standard_list:
    city = elem_table_standard.text
    city_list.append(city)
sity_list=city_list[4:]
print(sity_list)

['Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург', 'Казань', 'Нижний Новгород', 'Красноярск', 'Челябинск', 'Самара', 'Уфа', 'Ростов-на-Дону', 'Краснодар', 'Омск', 'Воронеж', 'Пермь', 'Волгоград']

In [337]:
# текст запроса
query_5_7 = f''' 
SELECT   areas.name, COUNT(DISTINCT vacancies.id)
FROM public.EMPLOYERS 
JOIN public.vacancies ON employers.id = vacancies.employer_id 
JOIN public.areas on vacancies.area_id = areas.id
WHERE EMPLOYERS.name = 'Яндекс' 
GROUP BY areas.name
ORDER BY COUNT(DISTINCT vacancies.id)
'''

In [338]:
# результат 
yandex_vacacies = pd.read_sql_query(query_5_7, connection)
yandex_vacacies=yandex_vacacies[yandex_vacacies['name'].isin(city_list)]
yandex_vacacies.loc[ len(yandex_vacacies.index )] = ['Total', sum(yandex_vacacies['count'])]
yandex_vacacies.reset_index(drop= True , inplace= True )
display (yandex_vacacies)

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\2431298900.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  yandex_vacacies = pd.read_sql_query(query_5_7, connection)

               name  count
0              Омск     21
1         Челябинск     22
2        Красноярск     23
3         Волгоград     24
4             Пермь     25
5            Казань     25
6    Ростов-на-Дону     25
7               Уфа     26
8            Самара     26
9         Краснодар     30
10          Воронеж     32
11      Новосибирск     35
12  Нижний Новгород     36
13     Екатеринбург     39
14  Санкт-Петербург     42
15           Москва     54
16            Total    485

***

In [386]:
# выводы по анализу работодателей

answer ='Доля "Яндекс" на IT-рынке труда {0}%, что в {1} раза больше следующего по объему работодателя.' \
    .format(round(df_5_1.iloc[0][1]/amt_salary*100, 1), round(df_5_1.iloc[0][1]/df_5_1.iloc[1][1], 0))
print(answer)

Доля "Яндекс" на IT-рынке труда 8.0%, что в 4.0 раза больше следующего по объему работодателя.

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [340]:
# текст запроса
query_6_1 = f''' 
SELECT   COUNT(*)
FROM public.vacancies
WHERE LOWER(vacancies.name) ilike any(array['%data%', '%данн%'])
'''

In [369]:
# результат запроса
amt_ds = int(pd.read_sql_query(query_6_1, connection).iloc[0][0])
display (amt_ds)

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\3723605216.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  amt_ds = int(pd.read_sql_query(query_6_1, connection).iloc[0][0])

1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [342]:
# текст запроса
query_6_2 = f'''SELECT   COUNT(*)
FROM public.vacancies
WHERE 
(LOWER(vacancies.name) ilike any(array['%data scientist%', '%data science%', '%исследователь данных%', '%machine learning%', '%машинн%обучен%'])
OR 
(vacancies.name LIKE '%ML%' AND vacancies.name NOT LIKE '%HTML%'))
AND 
(LOWER(vacancies.name) LIKE '%junior%' OR
vacancies.experience = 'Нет опыта' OR 
vacancies.employment = 'Стажировка')'''

In [388]:
# результат запроса
jun_ds = int(pd.read_sql_query(query_6_2, connection).iloc[0][0])
display (jun_ds)

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\4185927911.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  jun_ds = int(pd.read_sql_query(query_6_2, connection).iloc[0][0])

51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [344]:
# текст запроса
query_6_3 = f'''SELECT   COUNT(*)
FROM public.vacancies
WHERE 
(LOWER(vacancies.name) ilike any(array['%data scientist%', '%data science%', '%исследователь данных%', '%machine learning%', '%машинн%обучен%'])
OR 
(vacancies.name LIKE '%ML%' AND vacancies.name NOT LIKE '%HTML%'))
AND 
(LOWER(vacancies.key_skills) LIKE '%sql%' OR
LOWER(vacancies.key_skills) LIKE '%postgres%')'''

In [345]:
# результат запроса
sql = pd.read_sql_query(query_6_3, connection).iloc[0][0]
display (sql)

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\3116331707.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql = pd.read_sql_query(query_6_3, connection).iloc[0][0]

201

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать с помощью запроса, аналогичного предыдущему.*

In [346]:
# текст запроса
query_6_4 = f'''SELECT   COUNT(*)
FROM public.vacancies
WHERE 
(LOWER(vacancies.name) ilike any(array['%data scientist%', '%data science%', '%исследователь данных%', '%machine learning%', '%машинн%обучен%'])
OR 
(vacancies.name LIKE '%ML%' AND vacancies.name NOT LIKE '%HTML%'))
AND 
(LOWER(vacancies.key_skills) LIKE '%python%') '''

In [347]:
# результат запроса
py = pd.read_sql_query(query_6_4, connection).iloc[0][0]
display (py)

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\2083839953.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  py = pd.read_sql_query(query_6_4, connection).iloc[0][0]

351

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [348]:
# текст запроса
query_6_5 = f'''SELECT  AVG(length(key_skills)-length(replace(key_skills,CHR(9),''))+1) as "средние кол-во ключевых навыков"
FROM public.vacancies
WHERE 
(LOWER(vacancies.name) ilike any(array['%data scientist%', '%data science%', '%исследователь данных%', '%machine learning%', '%машинн%обучен%'])
OR 
(vacancies.name LIKE '%ML%' AND vacancies.name NOT LIKE '%HTML%'))
AND
key_skills IS NOT NULL'''

In [349]:
# результат запроса
display (round((pd.read_sql_query(query_6_5, connection)).iloc[0][0], 2))

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\2733291823.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display (round((pd.read_sql_query(query_6_5, connection)).iloc[0][0], 2))

6.41

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [350]:
# текст запроса
query_6_6 = f'''SELECT DISTINCT experience, ROUND(AVG(coalesce((salary_from+salary_to)/2, salary_from, salary_to)),0) AS avg_salary
FROM public.vacancies
WHERE 
(LOWER(vacancies.name) ilike any(array['%data scientist%', '%data science%', '%исследователь данных%', '%machine learning%', '%машинн%обучен%'])
OR 
(vacancies.name LIKE '%ML%' AND vacancies.name NOT LIKE '%HTML%')) 
GROUP BY experience'''

In [351]:
# результат запроса
display ((pd.read_sql_query(query_6_6, connection)))

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\2452032448.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display ((pd.read_sql_query(query_6_6, connection)))

           experience  avg_salary
0         Более 6 лет         NaN
1           Нет опыта     74643.0
2  От 1 года до 3 лет    139675.0
3       От 3 до 6 лет    243115.0

***

In [391]:
# выводы по предметному анализу
print('Доля вакансий по направлению "Data science" составляет {0}% от представленных вакансий в сфере IT.\n\
Из них на уровень Junior представленно {1}% вакансий.'.format(round(amt_ds/amt_vacancies*100,1), round(jun_ds/amt_ds*100,1)))

Доля вакансий по направлению "Data science" составляет 3.6% от представленных вакансий в сфере IT.
Из них на уровень Junior представленно 2.9% вакансий.

# Общий вывод по проекту

In [383]:
# дополнительные иследования
# текст запроса
query_7 = f'''SELECT REPLACE (key_skills, CHR(9), '|')
FROM public.vacancies
WHERE 
(LOWER(vacancies.name) ilike ANY(array['%data scientist%', '%data science%', '%исследователь данных%', '%machine learning%', '%машинн%обучен%'])
OR 
(vacancies.name LIKE '%ML%' AND vacancies.name NOT LIKE '%HTML%'))'''
# разделение строк на ключевые навыки и очистка данных
df_6_7 = pd.read_sql_query(query_7, connection)
key_skills_dict = {}
for kk in df_6_7['replace'].items():
    key_skills_list = str(kk).split('|') 
    for key_skill in key_skills_list:
        new_key_skill = ''
        for i in key_skill:
            if not i.isdigit():
                new_key_skill += i    
        new_key_skill = new_key_skill.replace("(, '",'').replace("')",'')
        new_key_skill = new_key_skill.lower()
        if key_skills_dict.get(new_key_skill, None):
           key_skills_dict[new_key_skill] += 1
        else:
           key_skills_dict[new_key_skill] = 1
# формирования и групировка датафрейма              
df_top_key_skills = pd.DataFrame.from_dict(key_skills_dict, orient='index').reset_index()
df_top_key_skills.columns=['key_skill','avg_salry']
df_top_key_skills = df_top_key_skills.sort_values(by='avg_salry', ascending=False).reset_index(drop= True)

C:\Users\Максим\AppData\Local\Temp\ipykernel_26820\323702062.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_6_7 = pd.read_sql_query(query_7, connection)

In [384]:
# подведем итог исследования, обобщите выводы
print('ТОП 5 ключевых навыков DS\n', df_top_key_skills.head(5))

ТОП 5 ключевых навыков DS
           key_skill  avg_salry
0            python        348
1               sql        191
2  machine learning        140
3               git         66
4      data science         64

Данные не чистые, но патр прослеживается.
Среди вакансий подходящих дата-саентистам, с большим отрывом самые востребованные навыки являются: "Phyton", "SQL" и "Машинное обучение".